<div class="navbar">
    <div routerLink="/bienvenido">
        <span>Home</span>
    </div>
    <div routerLink="/peliculas/listado"> 
        <span>Peliculas</span>
    </div>
    <div routerLink="/peliculas/alta">
        <span>Alta Pelicula</span>
    </div>
    <div routerLink="/actor/listado">
        <span>Actores</span>
    </div>
    <div routerLink="/actor/alta">
        <span>Alta Actores</span>
    </div>
    <div routerLink="/busqueda">
        <span>Busqueda</span>
    </div>
</div>
<div class="row">
    <div class="column">
       <app-tabla-paises [input_tablaPaises]="listadoPaises"></app-tabla-paises>  
    </div>
    <div class="column">
    </div>
</div> 